//Pour mobile
@import "libs/variables.scss";
@import "libs/functions.scss";

@media #{$mobile-up} {
    #panier {
        & img {
            width: 7vw;
            margin: 0 .3em 0 0;
        }
    }
    .txt--panier {display: none !important;}
    ul {
        & li {
            & img {
            width: 120%;
            }            
            & h4 {
            font-size: em(16, $tbase) !important;
            }
        }
    }
    .commande {
        & label {display: none !important;}
    }
}
//Page Produit
#ajoutPanier {margin-top: 1em;}
//Page Index
.main--index {
    padding: 0 !important;
    & section {
        padding: 0 !important;
        & ul {
            padding: 0 !important;
            & li {
                padding: 0 !important;
                & .index--img {
                    margin-left: -2em;
                }
            }
        }
    }
}
//Page Panier
#panier--aside{padding-bottom: 1em;}
//Page Remerciement
#remerciements{
    height: 90vh;
    display: flex;
    align-items: center;
    & .remerciements--text{
        height: 40vh;
    }
}